@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Helvetica Neue";
    src: url("/resources/fonts/HelveticaNeue-Black.woff2") format("woff2"),
        url("/resources/fonts/HelveticaNeue-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("/resources/fonts/HelveticaNeue-Bold.woff2") format("woff2"),
        url("/resources/fonts/HelveticaNeue-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("/resources/fonts/HelveticaNeue-BlackItalic.woff2") format("woff2"),
        url("/resources/fonts/HelveticaNeue-BlackItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("/resources/fonts/HelveticaNeue-BoldItalic.woff2") format("woff2"),
        url("/resources/fonts/HelveticaNeue-BoldItalic.woff") format("woff");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("/resources/fonts/HelveticaNeue-Italic.woff2") format("woff2"),
        url("/resources/fonts/HelveticaNeue-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("/resources/fonts/HelveticaNeue-Heavy.woff2") format("woff2"),
        url("/resources/fonts/HelveticaNeue-Heavy.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("/resources/fonts/HelveticaNeue-HeavyItalic.woff2") format("woff2"),
        url("/resources/fonts/HelveticaNeue-HeavyItalic.woff") format("woff");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("/resources/fonts/HelveticaNeue-Light.woff2") format("woff2"),
        url("/resources/fonts/HelveticaNeue-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("/resources/fonts/HelveticaNeue-LightItalic.woff2") format("woff2"),
        url("/resources/fonts/HelveticaNeue-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("/resources/fonts/HelveticaNeue-Medium.woff2") format("woff2"),
        url("/resources/fonts/HelveticaNeue-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("/resources/fonts/HelveticaNeue-MediumItalic.woff2")
            format("woff2"),
        url("/resources/fonts/HelveticaNeue-MediumItalic.woff") format("woff");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("/resources/fonts/HelveticaNeue-Thin.woff2") format("woff2"),
        url("/resources/fonts/HelveticaNeue-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("/resources/fonts/HelveticaNeue-ThinItalic.woff2") format("woff2"),
        url("/resources/fonts/HelveticaNeue-ThinItalic.woff") format("woff");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("/resources/fonts/HelveticaNeue-Roman.woff2") format("woff2"),
        url("/resources/fonts/HelveticaNeue-Roman.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("/resources/fonts/HelveticaNeue-UltraLight.woff2") format("woff2"),
        url("/resources/fonts/HelveticaNeue-UltraLight.woff") format("woff");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url("/resources/fonts/HelveticaNeue-UltraLightItalic.woff2")
            format("woff2"),
        url("/resources/fonts/HelveticaNeue-UltraLightItalic.woff")
            format("woff");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "GaramondMTW04";
    src: url("/resources/fonts/GaramondMTW04-Italic.woff2") format("woff2"),
        url("/resources/fonts/GaramondMTW04-Italic.woff") format("woff");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "GaramondMTW04";
    src: url("/resources/fonts/GaramondMTW04-Regular.woff2") format("woff2"),
        url("/resources/fonts/GaramondMTW04-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "LightItalic";
    src: url("/resources/fonts/HelveticaNeue-LightItalic.woff2") format("woff2"),
        url("/resources/fonts/HelveticaNeue-LightItalic.woff") format("woff");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
/*
.select-field {
    background: #121618;
    outline: none;
}

.select-field-mobile {
    background: white;
    outline: none;
}
 */
.select-field-mobile:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none;
}

.select-field:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none;
}

.select-field::-ms-expand {
    display: none;
}

.lang-toggle:has(.select-field:focus-visible)::after {
    color: #9ca3af;
}

.lang-toggle::after {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid;
    content: "";
    height: 0;
    position: absolute;
    right: 4px;
    top: 6px;
    width: 0;
    z-index: 2;
}

.footer-social {
    transition: all 0.5s ease-in-out;
}

.footer-social:hover svg {
    fill: gray;
}

.footer-social:hover path {
    fill: gray;
}

.review-card:not(:hover) {
    animation: zIndexHack 500ms;
}

@keyframes zIndexHack {
    0%, 100% {
        z-index: 10;
    }
}

[x-cloak] {
    display: none !important;
}
